
body {
    width: 90%;
    height: 80%;
    max-width: 1200px;
    margin: auto;
    border: 2px solid #000;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 10px;

    

  }
  
  
  .structural {
    margin: 10px;
    padding: 10px;
  }
  
  
  h1 {
    color: #8c441a;
    font-size: 24px;
    border: #f0f0f0;
    text-align: center;
    background-color: #de9f0c;
    padding: 10px ;
  }
  
  
  h2 {
    color: #b48415;
    font-size: 20px;
  }
  
  
  main {
    height: 70vh;
  }
  
  
  img {
    border: 2px solid #060303;
    width: 90%;
    height: 80%;
  }
  
  
  figure {
    background-color: #e5750c;
    width: 45%;
    height: 60%;
    margin: auto;
    padding: 10px;
  }
  
  
  figure:nth-child(even) {
    float: right;
  }
  
  figure:nth-child(odd) {
    float: left;
  }
  
  
  section {
    clear: both;
    
  }
  
  
 
  figcaption {
    font-weight: bold;
    font-size: 14px;
    color: #990000;
    padding: 5px;
  }
  
  
  a {
    color: #2b09eb;
    
  }
 ul{
    font-size: 20px;
 }
  

  
  
  
  a:hover {
    color: #f70713;
  }


  footer{
    background-color: #de9f0c;
    clear: both;
    font-size: 20px;
    text-align: center;
  }
  